body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

button {
    display: flex;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

input {
    text-align: center;
}

#receiveButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }