/* Button Container */
#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Media Query for Mobile Screens */
@media (max-width: 600px) {

    /* Container Adjustments */
    .container {
        padding: 0 5px;
    }

    /* Button Container Adjustments */
    #button-container {
        margin: 30px auto;
        flex-direction: column;
        gap: 40px;
    }

    /* Button Adjustments */
    .custom-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}