/****************
* file: main.css
*****************/

/* START: Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

/* END: Global */

/* Particles.js */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.container {
    z-index: 1;
}

/* START: Navbar */
.navbar {
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

#appName {
    font-size: 1.5rem;
    color: #fff;
}

#labName {
    font-size: 0.8rem;
    color: #fff;
    margin-top: -20px;
}

/* END: Navbar */

/* START: Button */

.custom-btn {
    /* flex: 1; */
    min-width: 180px;
    max-height: 60px;
    text-align: center;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2575fc;
    color: #fff;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #08aaef;

}

/* END: BUTTON */

#tagline p {
    margin: 40px 10px 0px 10px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
    padding: 20px;
}

/* START: Footer */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    margin-left: 30px;
    text-align: left;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.footer-links li {
    display: inline;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #ccc;
}

/* END: Footer */

/* Responsive coding */
@media (max-width: 864px) {
    .custom-btn {
        min-width: 180px;
    }

    #tagline p {
        /* margin: 50px 10px 15px 10px; */
        font-size: 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        justify-content: center;
        margin: 0px;
    }

    .footer-content p {
        margin: 0px;
    }

}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input {
        width: 100%;
        margin: 15px 0;
    }

    #tagline p {
        /* margin: 30px 10px 15px 10px; */
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    input {
        font-size: 14px;
    }

    #tagline p {
        /* margin: 35px 10px 15px 10px; */
        font-size: 20px;
    }
}

@media screen and (max-height: 700px) {
    input {
        font-size: 14px;
    }

    #tagline p {
        /* margin: 35px 10px 15px 10px; */
        font-size: 20px;
    }
}