#responseDisplay {
    display: none;
    text-align: center;
    margin-top: 20px;
    color: #ccc;
    font-size: 25px;
}

#boxSenderIP {
    text-align: center;
}

/* Input boxes styling */
input {
    padding: 12px;
    font-size: 16px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    width: 300px;
    margin: 30px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #2575fc;
}