/****************
* file: send.css
*****************/

#ipDisplay {
    display: none;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#dropZone {
    /* margin-top: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    background-color: #ffffff81;
}

#dropZone.dragging {
    border-color: #4CAF50;
}

.addBox {
    color: white;
    position: relative;
    height: 100px;
    width: 100px;
}

.card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #f1d8d8;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.send-text {
    display: block;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.plus {
    display: block;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #4CAF50;
}

.send-files {
    color: rgb(12, 1, 1);
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 25px;
}

.send-files:hover {
    background-color: #FF784E;
}

.file-list {
    margin: 20px 5px;
    max-height: 120px;
    overflow-y: auto;
    padding: 5px;
}


.file-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 15px;
}

.remove-btn {
    width: 25px;
    height: 25px;
    color: rgb(0, 0, 0);
    border: none;
    padding: 0;
    cursor: pointer;
    background: none;
    align-items: left;
}